.home {
  display: flex;

  .mainContainer {
    flex: 5;

    .widgetContainer {
      padding: 10px;
      display: flex;
      gap: 20px;
    }
    .chartContainer {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .List {
      margin: 10px;
      .ListContainer {
        padding: 10px;
        box-shadow: 0px 0px 37px 0px rgba(181, 164, 164, 1);
        -webkit-box-shadow: 0px 0px 37px 0px rgba(181, 164, 164, 1);
        -moz-box-shadow: 0px 0px 37px 0px rgba(181, 164, 164, 1);
        border-radius: 10px;

        .ListTitle {
          margin: 10px;
          font-weight: bold;
          font-size: 18px;
          color: rgb(141, 137, 137);
        }
      }
    }
    // background-color: blue;
  }
}
