.home {
  display: flex;

  .mainContainer {
    flex: 5;

    .widgetContainer {
      padding: 10px;
      display: flex;
      gap: 20px;
    }
    .chartContainer {
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
    }
    // background-color: blue;
  }
}
